{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Hello" %}, {{ request.user }}
{% endblock %}

{% block content %}
    <a href="{% url "categories:add" %}">{% trans "New category" %}</a>
    <p>{% trans "Hello" %}, {{ request.user }}</p>
    {% for category in categories %}
        <ul>
            <li class="category">
                <a href="{% url "categories:details" category.slug %}">{{ category.name }}</a>
                <br>
                {{ category.cat_type }}
                <br>
                {% trans "Created" %} {{ category.created }}
                <br>
                {% trans "Updated" %} {{ category.updated }}
            </li>
        </ul>
    {% endfor %}
{% endblock %}