{% extends "base.html" %}

{% block content %}

<h2>Goal: {{ goal.name }}</h2>
<a href="{% url "goals:list_" %}">Go to goals list</a>
<br><br>
<strong>Remained to save up: {{ goal.money }}</strong>

<p>{{ account.description }}<p>

<ul>
    <li><a href="{% url "accounts:edit" account.slug %}">Edit account</a></li>
    <li><a href="{% url "accounts:delete" account.slug %}">Delete account</a></li>
	<li><a href="{% url "accounts:add_money" account.slug %}" class="plus">Add money</a></li>
	<li><a href="{% url "accounts:withdraw_money" account.slug %}" class="minus">Withdraw money</a></li>
	<li><a href="{% url "accounts:move_money" account.slug %}" class="move">Move money to another account</a></li>
</ul>

{% endblock %}