{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Hello
{% endblock %}

{% block content %}
    <a href="{% url "goals:add" %}">New Goal</a>
    <p>Hello, {{ request.user }}</p>
    {% for goal in goals %}
        <ul>
            <li class="goal">
                <a href="{% url "goals:details" goal.id %}">{{ goal.name }}</a>
                <br>
                {{ goal.money }} {{ goal.currency }}
                <br>
                Создана {{ goal.created }}
                Изменена {{ goal.updated }}
            </li>
        </ul>
    {% endfor %}
{% endblock %}