{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Hello" %}, {{ request.user }}
{% endblock %}

{% block content %}
    <a href="{% url "goals:add" %}">{% trans "New Goal" %}</a>
    <p>Hello, {{ request.user }}</p>
    {% for goal in goals %}
        <ul>
            <li class="goal">
                <a href="{% url "goals:details" goal.id %}">{{ goal.name }}</a>
                <br>
                {% trans "Saved up so far" %}: {{ goal.money_saved }} {{ goal.currency }}
                <br>
                {% trans "Remained to save up" %}: {{ goal.get_money_left }} {{ goal.currency }}
                <a href="{% url "goals:add_money" goal.id %}">{% trans "Add money" %}</a>
                <br>
                {% trans "Created" %} {{ goal.created }}
                <br>
                {% trans "Updated" %} {{ goal.updated }}
            </li>
        </ul>
    {% endfor %}
{% endblock %}