{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans "Hello" %}, {{ request.user }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 border">
                <a href="{% url "accounts:add" %}">{% trans "Create new account" %}</a>
                <p>{% trans "Hello" %}, {{ request.user }}</p>
                {% for account in accounts %}
                    <ul>
                        <li class="bankaccount">
                            <a href="{% url "accounts:details" account.slug %}">{{ account.label }}</a>
                            <br>
                            {{ account.balance }} {{ account.currency }}
                            <br>
                            {% trans "Created" %} {{ account.creation_date }}
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="col-sm-9">
                <h2>{% trans "History" %}</h2>

                <div id="history-filter">
                    <p>{% trans "Filter" %}:</p>
                    <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans "Apply" %}">
                </form>
                </div>

                {% for item in history %}
                    <div class="history-item">
                        <div class="history-type">
                            {% if item.type == 1 %}
                                <img src="{% static 'accounts/img/plus.png' %}" width="32px" height="32px" class="history-type">
                            {% elif item.type == 2 %}
                                <img src="{% static 'accounts/img/minus.png' %}" width="32px" height="32px" class="history-type">
                            {% elif item.type == 3 %}
                                <img src="{% static 'accounts/img/move.png' %}" width="32px" height="32px" class="history-type">
                            {% elif item.type == 4 %}
                                <img src="{% static 'accounts/img/exchange.png' %}" width="32px" height="32px" class="history-type">
                            {% endif%}
                        </div>
                        <div class="history-category">
                            {{ item.category }}
                        </div>
                        <div class="history-amount">
                            {{ item.amount }} {{ item.currency }}
                        </div>
                        <div class="history-date">
                            {{ item.datetime }}
                        </div>
                        <div class="history-desc">
                            {{ item.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block domready %}
{% endblock %}