{% load staticfiles %}
{% load i18n %}
{% load get_percent %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome to Lanksi{% endblock %}</title>
        <link href="{% static "accounts/css/main.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    </head>
    <body>
        <div id="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url "accounts:list_" %}">Lanksi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "accounts:list_" %}">{% trans "Accounts" %} <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "categories:list_" %}">{% trans "Categories" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "goals:list_" %}">{% trans "Goals" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "patterns:list_" %}">{% trans "Patterns" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url "accounts:manage_credentials" %}">
                                    {% trans "Import & export credentials" %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% ifequal LANGUAGE_CODE "en"  %}
                            <a href="/ru{{ request.get_full_path|slice:'3:' }}">
                                <img src="{% static 'accounts/img/russian.gif' %}">
                            </a>
                            {% else %}
                                <a href="/en{{ request.get_full_path|slice:'3:' }}">
                                    <img src="{% static 'accounts/img/english.gif' %}">
                                </a>
                            {% endifequal %}
                        </li>

                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "logout" %}">{% trans "Logout" %}</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "login" %}">{% trans "Login" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "register" %}">{% trans "Register" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-sm-9">
              {% block content %}
              {% endblock %}
            </div>
            <div class="col-sm-3">
                {% block content-right %}

                    <button data-toggle="collapse" data-target="#rates" class="btn btn-sm btn-dark">
                        {% trans "Exchange rates" %}
                    </button>
                    <button data-toggle="collapse" data-target="#summary" class="btn btn-sm btn-dark">
                        {% trans "Summary" %}
                    </button>
                    <button data-toggle="collapse" data-target="#goals" class="btn btn-sm btn-dark">
                        {% trans "Goals" %}
                    </button>
                    <div id="rates" class="collapse border border-info">
                        <p class="text-center">{% trans "Exchange rates:" %}</p>
                        <ul class="list-group">
                            {% for rate in rates %}
                                <li class="list-group-item">
                                    <p class="text-center">
                                        {{ rate }}
                                        <br>
                                        {{ rate.value }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="text-center">
                            {% trans "Last updated:" %}
                            <br>
                            {{ rates.0.date }}
                        </p>
                    </div>

                    <div id="summary" class="collapse border border-info">
                        <p class="text-center">{% trans "Summary table of account balances:" %}</p>
                        {% for account in accounts %}
                            <div class="account">
                                {{ account.label }}
                                <br>
                                {{ account.balance }} {{ account.currency }}
                            </div>
                        {% endfor %}

                        {% trans "Total:" %}
                        {% for sum in sums %}
                            {{ sum.value }} {{ sum.currency }}
                        {% endfor %}
                    </div>

                    <div id="goals" class="collapse border border-info">
                        <p class="text-center">{% trans "Your goals" %}:</p>
                        {% for goal in goals %}
                            <div class="goal border border-info">
                                {{ goal.name }}
                                <br>
                                <br>
                                {% trans "Total" %}:
                                <br>
                                {{ goal.money_total }}
                                <br>
                                <br>
                                {% trans "Saved up so far" %}:
                                <br>
                                {{ goal.money_saved }}
                                <br>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar"
                                         aria-valuenow="{{ goal.money_saved|get_percent:goal.money_total }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width:{{ goal.money_saved|get_percent:goal.money_total }}%">
                                        <span>{{ goal.money_saved|get_percent:goal.money_total }}% {% trans "Complete" %}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                {% endblock %}
                </div>
            </div>


        <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            $(document).ready(
            {% block domready %}

            {% endblock %}
            )
        </script>
    </body>
</html>