{% extends "base.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2>Welcome, {{ request.user.username }}</h2>
        <ul>
            <li><a href="{% url "accounts:list_" %}">Accounts</a></li>
            <li><a href="{% url "categories:list_" %}">Categories</a></li>
            <li><a href="{% url "goals:list_" %}">Goals</a></li>
            <li><a href="{% url "patterns:list_" %}">Patterns</a></li>
            <li><a href="#">Import & export credentials</a></li>
            <li>
                <p>Today's exchange rates:</p>
                <ul>
                    {% for rate in rates %}
                        <li>
                            {{ rate }}
                            <br>
                            {{ rate.value }}
                        </li>
                    {% endfor %}
                </ul>
                <p>
                    Last updated:
                    <br>
                    {{ rates.0.date }}
                </p>
            </li>
            <li>
                <p>Summary table of account balances:</p>
                {% for account in accounts %}
                    {{ account.label }}
                    <br>
                    {{ account.balance }} {{ account.currency }}
                {% endfor %}
                Total:
                {% for sum in sums %}
                    {{ sum.value }} {{ sum.currency }}
                {% endfor %}
            </li>
        </ul>
    {% endif %}
{% endblock %}