{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Hello
{% endblock %}

{% block content %}
    <a href="{% url "patterns:add" %}">New pattern</a>
    <p>Hello, {{ request.user }}</p>
    {% for pattern in patterns %}
        <ul>
            <li class="bankaccount">
                {{ pattern.name }}
                <br>
                {{ pattern.transaction }}
                <br>
                {{ pattern.description }}
            </li>
        </ul>
    {% endfor %}
{% endblock %}